<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static "login.css" %}">
    <title>login</title>
</head>
<body>
<script>
    // 에러 메시지가 있다면 팝업으로 띄우기
    {% if error_message %}
    alert("{{ error_message }}");
    {% endif %}
</script>
    <header>
        <link rel="stylesheet" href="{% static 'index.css' %}">
    {% include 'navbar.html' %}
    </header>
    <div class="login-wrapper">
        <h2>Login</h2>
        <form method="post" action="/member/login" id="login-form">
            {% csrf_token %}
            <input type="text" name="username" placeholder="아이디">
            <input type="password" name="password" placeholder="비밀번호">
            <label for="remember-check">
                <input type="checkbox" id="remember-check">아이디 저장하기
            </label>
            <input type="submit" value="Login">
        </form>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>

