{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="{% static 'pylog_style.css' %}">
    <title>Mosaic The Face</title>
</head>
<body>
    <div id="index">
        <h1>MOSAIC THE FACE-face</h1><br>
        {% if user.is_authenticated %}
        <button type="button" class="btn btn-primary" onclick="location.href='{% url 'list' %}'">Board</button>
        <br>
        <button type="button" class="btn btn-primary" onclick="location.href='{% url 'logout' %}'">LogOut</button>

        {% else %}
        <button type="button" class="btn btn-primary" onclick="location.href='{% url 'signup' %}'">SignUp</button>
        <br>
        <button type="button" class="btn btn-primary" onclick="location.href='{% url 'login' %}'">LogIn</button>
        {% endif %}
    </div>

</body>
</html>
