p { font-size: 30px; }

.sidebar {
  background-color: #eb6864;
  top: 140px;
  left: 0;
  width: 120px;
  height: 560px;
  overflow-y: auto;
  position: fixed;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar li a {
  font-weight: bold;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
}

.content {
  margin-top: 50px; /* 상단 네비게이션바의 높이만큼 여백 추가 */
  margin-left: 200px; /* 좌측 네비게이션바의 너비만큼 여백 추가 */
  padding: 20px;
}

.sidebar a:hover {
  color: #cfcbcb; /* 원하는 색상으로 변경 */
}

.aside{
    position : sticky;
    position : -webkit-sticky;
    top : -60px;
    left: 0;
}
.menu-1 {
  /* 첫 번째 메뉴의 위치 설정 */
  margin-top: 100px;
}
.menu-2 {
  /* 첫 번째 메뉴의 위치 설정 */
  margin-top: 100px;
}

.menu-3 {
  /* 두 번째 메뉴의 위치 설정 */
  margin-top: 100px;
  color: white;
}

.main-box {
  max-height: 928px;
  overflow-y: hidden;
}

.menu-item:hover a {
  color: #cfcbcb; /* 원하는 색상으로 변경 */
}