<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mainpage.css">
    <title>Mainpage</title>

    <style>

        @import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
        li {
            font-size:30px ;
            font-family: 'Cute Font', cursive;
        }
        body{ background-image: url(background.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        ul{ list-style:none;
        }
        

    </style>
</head>

<body>
    <header>
        <div class="logo">
            <img src="https://raw.githubusercontent.com/mdn/beginner-html-site/gh-pages/images/firefox-icon.png" style="width:100px; height:100px;">
            <h3>Mosaic The Face</h3>
            <nav>
                <ul class="menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Mypage</a></li>
                    <li><a href="#">게시판</a></li>
                  </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="main">

        </div>

    </main>
    <footer>
        <div id="disqus_thread"></div>
        <script>
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://marmalade-2.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
        </noscript>
    </footer>
    


      
        
      

      

      
    

    
    
</body>
</html>
