<div class="sidebar">
  <!-- 좌측 네비게이션 바 내용 -->
  <ul>
    <li class="menu-item menu-1">
      <a href="{% url 'mypage' %}">마이페이지</a>
    </li>
    <li class="menu-item menu-2">
      <a href="{% url 'my_list' %}">작성글</a>
    </li>
    <li class="menu-item menu-3">
      <a onclick="confirmDelete()" onmouseover="this.style.cursor='pointer'">회원탈퇴</a>
    </li>
  </ul>
</div>
<script>
  function confirmDelete() {
    if (confirm("정말로 회원탈퇴 하시겠습니까?")) {
      location.href = "{% url 'delete' %}";
    }
  }
</script>