<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="css.css">
</head>
<body>
    <div class="board_wrap">
        <div class="board_title">
            <h1>사진 업로드</h1>
<!--            <p>게시판에 글을 올려주세요.</p> -->
        </div>
        <div class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <dd><input type="text" placeholder="제목 입력" name="board_title"></dd>
                    </dl>
                </div>
                <div class="info">
                    <dl>
                        <dt>파일</dt>
                        <dd><input type="file"  name="board_upload"></dd>
                    </dl>
                </div>
                <div class="cont">
                    <textarea placeholder="내용 입력" name="board_content"></textarea>
                </div>
            </div>
            <div class="bt_wrap">
                <a href="read.html" class="on">등록</a>
                <a href="list.html">취소</a>
            </div>
        </div>
    </div>
</body>
</html>