<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css.css" %}">
</head>
<body>
    <div class="board_wrap">
        <div class="board_title">
            <strong>게시판</strong>
            <p>게시판에 글을 올려주세요.</p>
        </div>
        <div class="board_list_wrap">
            <div class="board_list">
                <div class="top">
                    <div class="num">번호</div>
                    <div class="title">제목</div>
                    <div class="writer">글쓴이</div>
                    <div class="date">작성일</div>
<!--                    <div class="count">조회수</div>-->
                </div>
                {% for list in data %}
                <div>
                    <div class="num">{{board.board_no}}</div>
                    <div class="title"><a href="read.html">{{board.board_title}}</a></div>
                    <div class="writer">{{board.board_id}}</div>
                    <div class="date">{{board.board_date}}</div>
<!--                    <div class="count">33</div>-->
                </div>
                {% endfor %}
            </div>
            <div class="board_page">
                <a href="#" class="bt first"><<</a>
                <a href="#" class="bt prev"><</a>
                <a href="#" class="num on">1</a>
                <a href="#" class="num">2</a>
                <a href="#" class="num">3</a>
                <a href="#" class="num">4</a>
                <a href="#" class="num">5</a>
                <a href="#" class="bt next">></a>
                <a href="#" class="bt last">>></a>
            </div>
            <div class="bt_wrap">
                <a href="create.html" class="on">등록</a>
                <!--<a href="#">수정</a>-->
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>

