<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>작성글 보기</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css.css" %}">
</head>
<body>
    <header>
        <link rel="stylesheet" type="text/css" href="{% static "index.css" %}">
    {% include 'navbar.html' %}
    </header>
    <div class="board_wrap">
        <div class="board_title">
            <strong>작성글 확인</strong>
<!--            <p>게시판에 글을 올려주세요.</p>-->
        </div>
        <div class="board_list_wrap">
            <div class="board_list">
                <div class="top">
                    <div class="num">번호</div>
                    <div class="title">제목</div>
                    <div class="date">작성일</div>
                </div>
                {% for post in page_obj %}
                    <div>
                        <div class="num">{{post.board_no}}</div>
                        <div class="title"><a href="{% url 'read' post.board_no %}">{{post.board_title}}</a></div>
                        <div class="date">{{post.board_date}}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="board_page">
                {% if page_obj.has_other_pages %}
                    <a href="?page=1" class="bt first"><<</a>
                    {% if page_obj.has_previous %}
                        <a href="?page={{page_obj.previous_page_number}}" class="bt prev"><</a>
                    {% endif %}

                    {% for page in custom_range %}
                        {% if page == page_obj.number %}
                            <a href="?page={{page}}" class="num on">{{page}}</a>
                        {% else %}
                            <a href="?page={{page}}" class="num">{{page}}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a href="?page={{page_obj.next_page_number}}" class="bt next">></a>
                    {% endif %}
                    <a href="?page={{page_obj.paginator.num_pages}}" class="bt last">>></a>
                {% endif %}
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>

